## üìò Week 3: Python Data Types and Containers
‚ú® Learning Objectives
By the end of this session, you will be able to: ‚úÖ Understand and identify Python data types (int, float, str, bool)
‚úÖ Create and manipulate lists and dictionaries
‚úÖ Use the type() function to inspect variable types
‚úÖ Complete partial code snippets by thinking through problems
‚úÖ Check your work using hidden solutions

Remember to check the Variables values and shapes as you create them by clicking on the *{x}* button on the left panel.

### Part 1: Basic Data Types

In [ ]:
# Integer (whole number)
my_int = 10
print("my_int =", my_int, "| type:", type(my_int))

# Float (decimal number)
my_float = 3.14
print("my_float =", my_float, "| type:", type(my_float))

# String (text)
my_str = "Hello, world!"
print("my_str =", my_str, "| type:", type(my_str))

# Boolean (True/False)
my_bool = True
print("my_bool =", my_bool, "| type:", type(my_bool))

### üèãÔ∏è‚Äç‚ôÄÔ∏è Exercise 1
‚úÖ Create:

- an integer called student_age

- a string called student_name

In [ ]:
student_age = ...  # YOUR CODE HERE
student_name = ...  # YOUR CODE HERE

print("Age:", student_age, "| type:", type(student_age))
print("Name:", student_name, "| type:", type(student_name))

<details> <summary>üí° **Solution (click to expand)**</summary>

student_age = 21
student_name = "Alice"

print("Age:", student_age, "| type:", type(student_age))
print("Name:", student_name, "| type:", type(student_name))

</details>

### Part 2: Lists

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5]
print("numbers =", numbers)

# Accessing items
print("First item:", numbers[0])

# Adding an item
numbers.append(6)
print("After append:", numbers)

# Removing an item
numbers.remove(3)
print("After remove:", numbers)

### üèãÔ∏è‚Äç‚ôÄÔ∏è Exercise 2
- Create a list fruits with three fruits.
- Add a new fruit and remove one existing fruit.

In [ ]:
fruits = [...]  # YOUR CODE HERE

fruits.append(...)  # Add a fruit
fruits.remove(...)  # Remove a fruit

print("Final fruits list:", fruits)

<details> <summary>üí° **Solution (click to expand)**</summary>

fruits = ["apple", "banana", "cherry"]

fruits.append("orange")
fruits.remove("banana")

print("Final fruits list:", fruits)

</details>

### Part 3: Dictionaries

In [ ]:
# Dictionary with keys and values
student = {
    "name": "Alice",
    "age": 21,
    "major": "Biology"
}

print("Student name:", student["name"])
print("Student age:", student["age"])

# Add new key-value pair
student["year"] = "Senior"
print("Updated student:", student)

### üèãÔ∏è‚Äç‚ôÄÔ∏è Exercise 3
‚úÖ Create a dictionary book with:

- title: a book title

- author: an author name

- year: the publication year

In [ ]:
book = {
    "title": ... ,  # YOUR CODE HERE
    "author": ... ,
    "year": ...
}

print("Book title:", book["title"])
print("Book author:", book["author"])
print("Book year:", book["year"])

<details> <summary>üí° **Solution (click to expand)**</summary>

book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949
}

print("Book title:", book["title"])
print("Book author:", book["author"])
print("Book year:", book["year"])

</details>

### Part 4: Dictionary with Multiple Items

In [ ]:
# Dictionary of multiple books
library = {
    "book1": {"title": "1984", "author": "George Orwell", "year": 1949},
    "book2": {"title": "Brave New World", "author": "Aldous Huxley", "year": 1932},
    "book3": {"title": "Fahrenheit 451", "author": "Ray Bradbury", "year": 1953}
}

# Accessing the author of the second book
print("Author of book2:", library["book2"]["author"])

# Adding a new book
library["book4"] = {"title": "The Handmaid's Tale", "author": "Margaret Atwood", "year": 1985}
print("Library now has:", len(library), "books")

### üèãÔ∏è‚Äç‚ôÄÔ∏è Exercise 4
Create a movies dictionary with:

- movie1, movie2, movie3

- each containing title, director, and year

In [ ]:
movies = {
    "movie1": {"title": ..., "director": ..., "year": ...},
    "movie2": {"title": ..., "director": ..., "year": ...},
    "movie3": {"title": ..., "director": ..., "year": ...}
}

print("Director of movie2:", ...)  # YOUR CODE HERE

<details> <summary>üí° **Solution (click to expand)**</summary>

movies = {
    "movie1": {"title": "Inception", "director": "Christopher Nolan", "year": 2010},
    "movie2": {"title": "The Matrix", "director": "The Wachowskis", "year": 1999},
    "movie3": {"title": "Parasite", "director": "Bong Joon-ho", "year": 2019}
}

print("Director of movie2:", movies["movie2"]["director"])

</details>

### Part 5: Type Checking

In [ ]:
# Using type() to check variable types
x = 42
y = "hello"
z = 3.14

print(type(x))  # int
print(type(y))  # str
print(type(z))  # float

### üèãÔ∏è‚Äç‚ôÄÔ∏è Exercise 5
- Define three variables of any types.
- Print out their types.

In [ ]:
var1 = ...  # YOUR CODE HERE
var2 = ...
var3 = ...

print(type(var1))
print(type(var2))
print(type(var3))

<details> <summary>üí° **Solution (click to expand)**</summary>

var1 = 100
var2 = False
var3 = "data"

print(type(var1))  # int
print(type(var2))  # bool
print(type(var3))  # str

</details>

### ‚úÖ Summary
In this notebook, you practiced:

- Creating and using variables of different types

- Manipulating lists and dictionaries

- Checking variable types

- Completing and debugging Python code

## üìö Useful Resources
- [Python Data Types - W3Schools](https://www.w3schools.com/python/python_datatypes.asp)
- [Python Data Types - Programmiz](https://www.programiz.com/python-programming/variables-datatypes)
- [Variables and Data Types in Python ‚Äì GeeksForGeeks](https://www.geeksforgeeks.org/python-data-types/)